@font-face { 
	font-family:"STHeiti"; 
	src: url('STHeiti.ttf')  format('truetype');
} 
*{box-sizing: border-box;}
body{font-family: "STHeiti","微软雅黑";font-size: 10px;padding: 0;margin: 0;background-color: #EAEBE7;}
ul{padding: 0;margin: 0;list-style: none;}
input,button,select{-webkit-appearance:none;outline: none;border: none;}

@media(min-width: 370px){
	body{font-size: 12px;}
}
@media(min-width: 400px){
	body{font-size: 14px;}
}

header{
	position: fixed;
	top: 0;
	height: 4.5em;
	width: 100%;
	background-color: #2a57ae;
	color: #fff;
	padding: 0 15px;
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	
}
header .hLeft,header .hRight{
	width:20%;
}
header .hCenter{
	width: 80%;
}
header .hLeft{
	line-height: 100%;
	text-align:left;
}
header .jg{
	height: 100%;
	display: flex;
	justify-content: flex-end;
}
header .hr{
	line-height: 100%;
	text-align:right;
}

header .back,header .home{
	display: inline-block;
	width: 2.1em;
	height: 2.1em;
	outline: none;
	border:none;
}

header .jg .jg-con{
	display: inline-block;
	position: relative;
	background-color: rgba(255,255,255,0.7);
	width: 4em;
	text-align: center;
	height: 4em;
    padding: 0 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .jg-con span{
	color: #2a57ae;
	font-size: 1.2em;
	
}
header .jg-con:after{
	position: absolute;
	left: 0;
	bottom: 0;
	content: '';
	display: block;
	width:0; 
    height:0; 
    border-left:2em solid transparent;
    border-right:2em solid transparent;
    border-bottom:8px solid #2a57ae;
}
header .back{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACIklEQVR4Xu3a4VHDMAwF4KcJYAQ2gBHKJNAJ6AgwAWxAmQA2ADZgFJhAnO7cu14vaUwjW0+0/p0mfV8cR7YjOPImR54fJ4BTD0gkoKq3AO4AXIvIt8dfT/MIlPDPJfSXF0IKgJ3wmxvvgkAPMBLeDYEaYCK8IbyIiI0LBzdagIrwDyJyf3Dy8kNKgIrwSxFZzw1vv6cD6BmeDqB3eCqAiPA0AFHhKQBU9RHAas+A5jbgDV0jdBBUVStt973Hm4YP7QEM4cMAWMKHADCF7w7AFr4rAGP4bgCs4bsAMIdvDsAevinARPgfK4BE5M1jSjvnHE0qwYrwCxGxNb3w5gqgqucAXgEsRpLZnacJ7/oIlPDvAK6yhHcDyBreBSBz+NkA2cPPBrATqKqtzt6MPPcuS9ctXxUub4EJhLWILFuGmHNuF4CKnkCL4AaQFcEVoCDYAqctdA41up7gDlAQbKFzs5e/C0GF0AQgE0IzgCwITQEyIDQHYEfoAsCM0A2AFaErACNCd4AthCcAZwPVkq0T2qaoy4eQU/OEEICCYCtHHyMILt8AToV3mQ7XXGTsGFUNRwjrARuUaIRwgOjHgQIgEoEGIAqBCiACgQ6gNwIlQE8EWoCCcAHAKsPLgVrCpViiBigItuFqFeMQwqeIjG3EVtVo9AB7EFx2mlMADCC4hA+fC1T10a2Dyl6kjQkrrw8s0vSAv2LVHn8CqJX6r8cdfQ/4BRG8L1C2WZNQAAAAAElFTkSuQmCC) 0 center no-repeat;
	background-size: cover;
}
/*header .home{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAADmUlEQVR4Xu1b7XHUMBDdrQA6gA6gA0IHUAFJBZAKSCoAKiCpAKgAUgGkAqCDUMEyz6w8i0+yPs6WfBfpT2ZyOlvv6e2ndEz3fPA9x0+dgJYKEJFTvJ+Zr1qto5kCFPxHBX7WioQmBEzAu81vQkJ1AkTkLRFdBCR/wcyXNc2hKgEiAskPdq/jVv8+Mf+7YuazWiRUIyAA/kSBfiOiWRJE5DURvcgk5jrmW1YnQEQeEhF23i7+mojeMPMdAOmc90T0yiqBiM4xR0SeEtH3TPCYfsnMIXMbHrcqAQrsKxEBgBvYFWsG4wcignBoSfhBRM+JCCT+PCgCcsE7cBESoCKQMTdA7iOd0EYBKlnI3u485AyZR4eIQLaIFm4MSnAmM/cAEYE/edaMAAUP2dudyo7xnlwB/gIkgIzgaErAUuCNOUDOLlvEv6MkNCNARBDSPpmd/wPPz8yQZPFQJcB0HuhDZkloQoBHrgB/EpNrKiuqLBBpSYBP2SmiqhOwNnhjDnColgR8tONbqhKg2Zn17EhtT5fa+alCPErYIaEaAaHUNiVUpUrfN0/zi2nqPBZRkzwiGn2KMsFW4I05IMR66wdVyWci+qVOeEi3QyObAA/4Lyr72Rfts+sZSsiuJJMJKE1tlwZunxcoorD7kH7ShiQRsEXwEyK8RVQKCVECAuCjRcaaOx8wiSISZglYOrVdm5RAEfWSmeEQvSNIwKGBL60fvAR4wCO1RQenWf8+Rz05leQOAbVS2xxAJXNFBM0TbNhsEfUfAccCPqd+GAnwgP+tmdRsA6Jkd2p+J1Y/DASIyDvYuFkYihqUs0nJRE1AJe8y6bHrFY5FFIsIqjn03N04KvDGHHz1wzkIEAP+ZlpAaCKETs9jIkJM3bRJ6G5jvYj9WO+oYk8leQcCXAfW26+f+IZgT79Emmt8J1YOKwmoF9A5/pCSCtsW9Q0zu+OsNda/9zMXb4hM0stOQFdAN4HuA7oTTHXVGnLsxYfUr9p5tzkZ6aaigB6X4aB0n4ED0eTjtU7A0sfj++QBHgUg1U4Z7nwfc49HAcwczTy1OrX1SSfgaHxAV0A3ge4DuhNMiYGTLlWPAj0KHEsq3MNgD4OHHwZxJmBPkGJOHXf7xmt0hSaA9+WcReB97pJ29CJHNC57Lh3EQAc/LySg+H2L/GCiE/Dvx43eX3jkbk1qS127OrmP983HtbnZSx1RE1hiFVt+Ridgy7tTY21/Ad+2FVSCv30yAAAAAElFTkSuQmCC) 0 center no-repeat;
	background-size: cover;
}*/
header span{
	font-size: 1.7em;
}

footer{
	position: fixed;
	height: 5em;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	border-top: 1px solid #dfdfdf;
}
footer:after{
	content: '';
	display: block;
	clear: both;
}
footer label{
	float: left;
	display: inline-block;
	width: 25%;
	height: 5em;
	
}
footer label span{
	font-size: 1.2em;
}
footer label input{
	display: none;
}
footer label span{
	display: block;
	text-align: center;
	color: #333;
}
.qs i,.gx i,.fq i,.dx i,.qs2 i,.gx2 i,.fq2 i,.dx2 i{
	display: block;
	font-style: normal;
	width: 2.2em;
	height: 2.2em;
	margin:5px auto;
}
.qs2 span,.gx2 span,.fq2 span,.dx2 span{
	color:#2a57ae;
}
.qs i{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEEAAABACAYAAABFqxrgAAAEWElEQVR4Xu2bjZENQRDH/xcBIkAEiAARIAJEgAgQASJABIgAESACRIAI8Kubvuqatx+zPbsz7169qbrae+/2o/s3/5me7p070bHp5MhA3SBcl/RU0kVJPyQ9T8cufdJDCVckfUkAzOnfkq5K4ti89YDwRtL95OlPSZfT76jhWXMCaj8cUMH35OhnSbfSMABENzW0VoJXwW1JnyQ9kPS6pxpaQhhSgamfybGbGlpCGFKBQeiqhlYQplTQXQ2tIEypoLsaWkDwKvgmiYXSWOsyN7SA4FXwUBKfx1qXuWFrCF4FLIz4PNeaq2FrCEtU0G1u2BJCRAVdIsWWECIqGFLDE0kv58ZQzd+3gkAEIFOklc4FuR/N5oYtIJAUkQvYJHhP0vtAT/lI8VUSkYXj6i0KgWLIteQoztLzfAcA396mBClqOAnWzexivkMl/ACF7JOMNNymIJQ6OvbwV5Iehy07vRAbmFvuFNwHGEBZDCiHQE9S9sp7tMAGsRrEEHoKwzFmrYbS7ia7UJ4VYkrvb3ZRuNkZUh4Cjn+cuSuTHM7haE6+1KC1zvNDEMXweQ4QNt/IO8hDYPIy2THGbLx5h9dyYOv7DAGyuWVnmHoINgnR09DqUvTciA5K+ZXu/SENrbNHeQgUOZkPaKiA8tchgAAAw9yy150kzkPgZNRA6DsUEMwR7xyAwZCdR4dDAkHPowB8oo2uWYbWCYcAohgAdMYWS+cZxCIAUxBstUb2Zm+LNl2/rxQVFgOYg2B2+ZSYaEHU2CSRqQQRAlAKgfP2HUQYwBII+wyiCsBSCPsIohpABMIQiF77ClYBEIWQg9hZi1dOcKWX84rfqldVxZtoZQlDfdaJGtasH8yB8Gl/dSfUQKDIwbqcZnsN5oxf6+8+2at+dg0E3xvVhiykszcQfDW4NQRqly8SuGg1+4x7jRJ8b1xqXHvwKqze8FUDwSpRf7LteAuVHTrdV4psA1joRjUhkmstRFUbEbSePOZCikpEp3CrUcLf9NQ13i9EHPAvZmr8CG/r9WNybuNFxMGSa1aLEFGCfnZuHRkMkI9OVR0RhUCx5VGyJnoPe1FiL3RKet+fs1qEiDpg43Hpa3dmdeDRi37rDkUawJIDLGk2L1VNzlEIvMjAoSUPp0yHo1b9HXKW/IOxXgrD9jBwDEeICAQfo0sWKjiPY77nWVuQgGE835OHEO6soTTuzXGqrRIhIhBKIwOOsbTNd6zRy0ys/u0W5wDKirqlMFaJEBEIc5Fh7PU+zmP0VMo9BYMIkF+7SoSIQBiLDGPOk+8Dbkm9ARgUd/NdKnzn/1XIqzK8aItAyCMDBiN75O8bkyY9Pzeup8Y8TnKPKRjVEaIGgu3+2ML5HMwQDJ7P5MqQoIUrTBEIvqLkjWXNgOwjO9VK1wY4jDKGtuuEV64RCBiMsxhDWMN5fp/auF3qZOl5Hkb186MQSo09F+cdIXT4l8C9VMZRCUclnArzqIT/FP4B3QMzUJgkuYYAAAAASUVORK5CYII=)  no-repeat;
	background-size: cover;
}
.qs2 i{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEEAAABACAYAAABFqxrgAAAE5ElEQVR4Xu2bQVbbMBCGf7GAJfQEwAkKJyicoPQEwAlIdySbhk3MDnoC4ASFEzScoOEEwAkalu3C044Vx1Yc29JYtkNevIEHsq359GtmNJIVVhfUigFagtCjPRC+AdiCwgtCXOBSvbQ1IM0r4Zx2sIZfEYDkGmMdu+ircRsgmofQpVsoHE+MfQWwPfn9AgPVX34IWgXPkaGERwTqAD3iacAgWlNDs0pIqyDEIS7VED06AXDTphqagzBPBbH2W1ZDcxDmqSCB0KoamoFQpIIFUEMzEIpUsABqqB+CqYInBGovNwy25Bvqh2DmBacYqNsCCK34hnohpFUAvGKgdkqToRbUUC8EFxW06BvqgyBRQUuRoj4IEhXMUwPhKwJ1XTqNKjSoBwIvlRGtFPmy8wWzRjToG/xDOKcDKNxAQTtBwhcE6t55oMw1xQgARxb+6f2SQejTFv7gI4CdyFgCjzwXSA6MHhLuECgOe7KrS0MofJp5Jv+NV54vUBghxBiBepS9QN+VD8HW0Py3f8dAdap0DtyHv+C84rPFc8YgjCSATAhayt8yI2rRAxCeopqAwhAhbr2Wy7SPOQKB+8fTLC7E2PSM2zAgVhAXbjJTKoHAANbws+Spr6BIhkNQ9GB+4ItXg23NYjAhtrAWTcGtaEqWAxojxP5sfxMIPWLnpWXHVR+eb0wwxBBrGNfllGxtdmo3H1DsWzLTNIEQOyEe6Q3st1X0dDLWtrH2Lb8nzR8wUEfpW9NK4CInl8H5GmEdh0sBQgPgaR6vXjOLuASCjgbsPDj0LQcInbr/mALICdlmdFgmEDqisAL0/kZBzpLNE5YBhAOA/GTpPYNwBGCTMV6ndotqzd9tHX1hOwGAYgjx28wlMe8VHi5kziAEYAeBWy06iAoA7CEsMoiKANwgLCIIDwDcIcwD0da5Ak8AZBCyIDK5uBdPX/aQLj2nqleVijeyyhJ3ML3qDLHb6HLaXPZXHgQ5hC4dQUV5ORCfNSgbPV//71Gy2PPwbjmE9Gh46IgTn4WBkK4GNw2hSx0oXE0WRrJqdoq6XAnp0VjHh0ZrD6ZPqHzgSw4hqUS9IVDp43hOyhY1TleK4gNgogfpm6pA0CHKQydE/e8SV7Y3o8JvoHZFz5jcJIfQI5o8o/r+gsSC9MbMQMntECvBnJPFBy8kBtrc4zFCyAimvXPTkSEGZO5VVhoIGYQe8Vb5WdQfqRS5CKqwDcKrKNv0GCFkEJL56Lbtrr36GQgn07xfj+wIhGsE6s5mJkzbxH6ponOWQegRb2Tw1pc+n2xzdekYCqyg/HDKnh7oW8OIzzBUjBDuEMzdnPJEhY1nw+LzCgyM8AbgPtpBpmiDldchm1OWvHlK0TcQw0K+niKEOwTbyMALLOBqRva6/r+BjpFhav/AoOJPALTtZTA8RQh3CGWRIW97n40n9AudYDGM08y9niKEO4S8yJB/tuEBITpOEUDD4I9DzFMqwK3xqZCpSnHS5g5hNjLoDrPsjZ3eyGnqkS+e10WTXoPlaZIPw0OEqAIhPv3h3/hZMPNh8B4In6mIz0SJK0wSCElFyewsn2LpiE6q2YRYbqN9AFeVssd1KmSu7hC4M+wcddjjsMYfc/ULD27bGmnbzoRR+f0yCLadfSftVhDES+l3MsK23VwpYaUErZWVEv5T+Aca0opfAw2SHAAAAABJRU5ErkJggg==)  no-repeat;
	background-size: cover;
}
.gx i{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAFiUlEQVR4Xu1a7XHVOBTVtQtYtgKggnXkAggVABVAKtikAkIFJBUQKiBUQFKAhKlgsxWwKcC6O8cjvVE0fvaV7DyG5OlPMvNkSffc7yOReuSDHrn8ag/A3gIeOQJ7F3jkBrAPgvfmAk3TNFVVvSKiQ1gZMzdKqf+I6AZ/lVKXfd9/7boO//+ysToAbdu+ZeZTInomkYqZL5xzH7quAzA7H6sB4DX+ZZvgzPwvET3dJiEzn1lrT3aNwCoAaK3fKaU+EtGTIAAzXyuloN2rVLseLHzzOgGl6/v+5S7dYjEAEJ6IPkWC/3DOHXdddzWnzaZpnlRVdUxEx0qpP3ysuHHOHQAE/zuAHdyJmW+ICCAhdqziMosAgCbruv4eCfrZGAPNZg1vEZeRNVwZY15ikRTgaGEE0ZOlQBQD4LXzPfL5IuGDQFivrmtoNVjCB2vtqQfhiohepKgyMzLIibX2IgvxaHIxAFprRPr33jSvrbVDulsyYouCcM6553E8aJrmsKoqpFO4zSagMvNRKQhFAHjt/xOCXt/3OOgqPqm1PiOivz2Qo1blreVMKfXWKwBgIXh2uQooAiDxy0Wmnx44dgVYgbX2z21CtW0L0x9AUEpt4kYOCEUAJBu/McZc5mw6N7dtW6z3CvP6vkdG2KpZrTUyw+AOc3PH9i0CQGv905v/rTFmk/vnBJP+HlsYM2+C4dj3ydxzay1SqngUAdC2La8Z/Ebc4LCu629+j0kAvMv8LD1PNgBLN5SoJnePJQrZAyDRSDpnCeKS/ZDvgwsopSazTK61pPtnWwAWCJF3Lk1JhBUEtpwgODl3tSwQpyml1H2nQRQ4WxsrrTUKsqFZKinISi0g7gBXL4SqqgpV5mSa1Vp/IqKh+UL7XVKOFwGQNi4lyG9zD2kpXFUV2uTQed72fd+UlONFAPg4sGmGSsvQkfx/p71OgT04OHiBZshTbjH5sttmCAf3DVEXylBwe9bao9LAlzZYcQXYti2KorFu81Yp9W5JKV5sAR6EOxorBSHlE5n5h7UWbS8yDlrfj2PAej7gzDl3XkqjLQLAH/AOJaaUAmUFpkZKiaH1hZCDSUN459yhp8SegTLzNLpCtAe9TkR/xYCAKnPOvdlZO5xqwzck6M8HNscPAHDR9/31FlIUbSxI0Q19Hgs/5UpN0wAYAL/hEj142bFgsQWEg3ozvki1E373hObWuwJmPnfOneaYso8b4BI3dFkuO7QaAEHQhCvIiYmDxRhjPud8hLnpnjm8wGoA+PodHOFotGbmO6QGESHIxS4zyI3ARkSnxpjzHCBiEGBt1trnku8XA+DN8L33x7An0hNYncupFOW/RRx47YGLAUEwPcoJbDE7xMxgixGXJsciAEauw279FddAZ+eM6JJkYJqj2CEObHEXKbWCYgC88N+i9JUdxMYAQoSv6xqaGzhB7xbiIiu2AkmjVgTAiPBiLUmtIukJEBtErW58XzHHJeAs2QAkJSuaEBQt2Xy8BIiRe8dZoBM3mO0QswFo2xZ3gUOZKjExiaBTcxKNzlLfIZaENcP12rY9sgCI63JplF0KAL5f4wJkMQCx6ZeSD6VgjFyczrqCdC+xBcSm6B8xzDY70kNI5iXWJy505tbOAWDg3nat/ViA5BpskiucEzz8LgKgbVtUal92Ffi2HT4JiF+NMTjXoiEFINzC3stdoFSC9P3A1M2xdE0pACH1rYK69HBj85beBqdrSgEIl6GiamyJgHPfaq03z2XWSMWzACSV1WrpZ05QSRyQlsdTe2UB8CvSX3r45G1S9nuAbBfwjc/QV/v3f/dS90stwj/KDBciXe6DiGwApAf7XefNusDvKpj03HsApEg91Hl7C3iompXKtbcAKVIPdd7eAh6qZqVyPXoL+B/btqJusjNsPQAAAABJRU5ErkJggg==)  no-repeat;
	background-size: 2.6em 2.6em;
    background-position: -0.24em -0.2em;
}
.gx2 i{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAFS0lEQVR4Xu1aTXrTSBB9xSJZDpxgyAkmnIDkBAknAE4wyQ5rg7Ox2OGcYJwT4JyAcALCCQgnIFnOLFLzlcqSutu2VN1SzEes3sAXlVpdr/5fm7Dli7ZcfwwADB6w5QgMIbDlDjAkwYcLgYz3ARyBcVB4GWEfjFsAN0Dx7xy7uMSY5P+/bPUPwIhfAxiD8Nyo1Qz3OMMHEmA2vvoDQCzO+NSg+A8Af67VkDFFTqebRqAfADJ+A+AjgKeVAowvIIh1r5asq+Eh7xwHoFxjB4ebDIvuAKjy/ziKfwPjBB/oqtWaY36K/3BSyBP+KOQZN9jFiwIEff4RvAgnKvLHNe5x2VfIdANALfnVUf4COQkgcUv3mVfewLhCTofFJiHA5c6MORinXYFIB0Cs8y++VjHPSFO+VEj3u6k8ATjDhMbF4xFfgfByBapSQU4xoVkc4rV0OgAZy+HeL9z2C3LSctdl+R51ix3sefngHR8U5ZRwEuSOt6kgpAGgsfm9Snr32OvqihVuGU8B/L0AdrVXqbdMQZCSK0s84RATuo7FPw0ANy67un54Yj8UbjGhZ2uVGvGsAsHNGxEopAHgf/gVcpIE1t/KWPY7Wmz4otGyGUtlKPuLZtkVJ0wDIOOfhfsz7pBTXfv7gsDP/HUyXLW/L3uOCUl+MK9UALjX5BceV5LdE3xe/LkZAM1HYhDpIaKTcTwAHT9oMk3sNzJONsgAgMkioVAHxE3fc0OgrcrEektwgHgPkA3qzNtcpkzarhBKT4LN+aLHKlCXKcbDlsF7HDYOViP+XrXjCQ1ZqgfUE2Cbi8Z6gdtltpXZjGUK1eEroQLIa2kAhINLAvJrcbG2wjIm18rfgbGf0o6nAaB5wB2G6vE11uKufDheh8CO+GUxDAnl5pIvwIaHITm0uqoMH2UbOsOE3ibrHw5Y/jj8GbQgV90PSIiIF3RoxdM9QL3AJ0SANBBCPpHxDTnJ3sIFCFsk7r5qyRQ4xQ7OU2m0bgAoCD4lppSVMDVWSkxGX+nfdaYQ5XdxUCj0jp/jSfFMqXOlxoQP+MtDQ2g0wqvNjcPLjdEbCKtb8np6WAFgVmTnkPJWi8ssf+yxyK7yTbGkwMg3ay5R5aNzQXcPKA+qSsl87lunfK5WarorOMcOxlGurNVoHtBlUSD0B0CpqMsVxGTE0mNyuoh5bZEnamJEXzbzAv0BoHzd+4ZsHdJVEstKhftL4n2MCZ1HAeGTNDfIac/yfncA1A1F8ZqI0PIk7fK8sURp6ZPLkePiDtEHRAATd7bzfC47JJR5TsIvNq5uACyXrzsQphWd3fZ193l5SVIyzfUze0z7U6TJC9IB0B5AWJuSEotPYqsA0gwvlis5QZGy9xe+F7QOamkALCtvt5LVK9yZQN+xjbp+i956WRMPQDitSYsaE6dWAERuuclqB9oPg1aOMB6AjOUuUNvUh+ACQoBci1pKXJ1LVLq8XlsDfBwAbl9uzLIxBl8r28MFyLq97QD4rt/qWr0oXm6yfHHaHgrGA9gBcF2xjaYyfjxKzPc+U4mz7G8HoOTeEqkny2FaZdwS15MRbACMWKa2TxtLfOuQ8BPiJSYkXWSnZQVAh402krLTUQwvh78faLo5NmwnIjYA6tLXC+rGs60W63gbHG5qBUDv3qzdWCcNW152fy7TQyluB8C/qe2t/CRj5OcBW3vc8LE4AHrKvMnKy4s+ANG/B4gPAR15da6Wmf+h+n4rKjIf8OI2iHAd+4OIeACsB/tN5dpD4DdVzHrsAQArUo9VbvCAx2pZq16DB1iReqxygwc8Vsta9dp6D/gfmqBkXzy2qGIAAAAASUVORK5CYII=)  no-repeat;
	background-size: 2.6em 2.6em;
    background-position: -0.24em -0.2em;
}
.fq i{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACgUlEQVR4Xu1avW7bMBC+o5eOBdqxQDt0tgjqAZqirxEgeQT3CZJ06pZsmTvmIYqkcyGacj12yFZ0S4egqAHzijMkQBGciJZYFKGOgBfrSPG+++6HPCGMfODI9QcBQBgwcgTEBUZOAAmC4gIxXMAYcxRjnV3X8N5/cs5d7zqvKR+FAXme05BN9J27Xq/fOueu+s7neQLAEPTum1szgohOrLXHQ96htd6bTCaXvEYMi7f3EoUB7UUFgComCAPEBSQG3AmCxphDRDyoAtp755yr44cx5gwRMyIqrbWz+v+kgqAx5hgRN0VTO6IbY64Q8Q0RfbHW7gkAFQLCgJTqAK31KwDgHw8OATcNqmsAeAoAN83YkBQD+lSEAkBKLiBZQNKg1AGHAMA/8N7P2pUgAHAmcMlWgpIFeiCQTBrkgxAAvAzFwFp7wrIpAbA57IQCUBTF5rZKAEilEKqPu2zV2rptNjQLpaQZ0BcA7/0RIqpQN1qtVufL5fLnQ/JBt8JZlu0j4jPv/a1S6nvXBpRSl4gIzUvRGAwgos+I+K7r/Y3n06Iovg0GIM/z3wDwhIiAFQsZxMIAH+q+wP8AwHuv5/N5mQwAIY0RY8wMEU+rajM6AH8A4GMAA9hXo7vArgAQUWatXcRkwC9rLd/aPDi2dYZiuMCuAPwLFxAAhAHiAhIDJAiOLgtUpfBzIvpRluVFFwB8hK1kruuPmLTWdeODOyJbv+tpNk5qGa01M47n8rjTTNm2j+l0+kIp9boqhL4uFovbwXVAl8KP+XlYYf+YNezYuwCQsHGDVBMGBMGUsJAwIGHjBqkmDAiCKWEhYUDCxg1STRgQBFPCQsKAhI0bpNroGfAXojXwblGPotQAAAAASUVORK5CYII=)  no-repeat;
	background-size: 2.6em 3em;
    background-position: -0.24em -0.2em;
}
.fq2 i{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACY0lEQVR4Xu2asW4TQRCGv7kqpSUokaCgJn4DgngNJPIIpkHxNXEoLo6EBB01JQ8REWoaB1qKdIguFAiQYk90Z+58HA53Pk9ze7OSG3t3PffNP7Ozuyf0vEnPnx8H4AroOQEPgZ4LwJOgh4BJCMR6aDLPppMseMtULjYdVu5vo4BYdRsjWo9d8IipnLUeD0Y5oPcAqi5YATkikck2HuJA94h4n81h4PGqLTYh4AAqBFwBRVL0EPAcUE6Cse6jPM0CRnhGIrMieGJ9jbKLcE4io+L7oJJgrOmKsCyaqhl9rGcID1E+cCx7DiAn4AoIqQ440HtA+oEdZkzkspQDhiwYEHH5V24ISgFtSkIHEFII+Crgy2Dv64C0Etz/UwmO1lSCQ4RZuJWgrwItCASzDKYbIbjbGEEiR1nfYADkm52mBBJZnlY5gFAKobICcu/+e5a4WiaDVkBbAMohQtQ0ioA3JPLtf/2bnQrH+oQ5txB+AF9qDciPsWF1JmihADgFHtf+f95hzgNO5PP2AMb6E2GH9P6nGTJQFOFFcSZoAUA5RTYCMOREzsMB0ORiZKwjhFfZQ88xBrDgNxHTBhLML0ttQ2BTALBLIp8sFfCdYxnUAlh3MWIRApsCMFeA4gBcAR4CngM8CfZvFUhL4StuE/GVqbyrBZBuYZftoniJKdblxUfabnqvp3xxkveZ6IBfDLNx1cuUdYY81ztE3M9+uuIjLyUt329sTQvb2mfuagcH0FXPWdntCrAi2dV5XAFd9ZyV3a4AK5JdnccV0FXPWdntCrAi2dV5XAFd9ZyV3a4AK5JdnecaqVJqX9Oigp0AAAAASUVORK5CYII=)  no-repeat;
	background-size: 2.6em 3em;
    background-position: -0.24em -0.2em;
}
.dx i{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAFhklEQVR4Xu2aj7EMQRDG+0WACBABIkAEiAARIAJEgAgQASJABIgAESAC6vdqvqo29qZ7Znfvnbubqqu9u52d6f766z8zsyd24O3kwPW3IwBHBhw4AkcXOHACzAqC583slpldNbNLZvbBzF6b2c8BUO+Z2d3yHOPQuH4ZHC8twqgLPDazh2YGCL59NrObA0Kj7PUNUjPm2wLut7RmyY69AGDtl8XqTPGrWArBsOK5Iuyd5Pzqxri3y48bBdgrE2MA1NMyZ+cU0917AEDI987qCPLcWRsF3pRpuPdkAQkBg3H5XHTjwYhHZjabEVkAoPqn4utYHcGgZt0A5EH5E1eQPy+AxemcgCpXIdYAwqs5g2cBwLJYoaW85AAY6IuA15awUqUgcqA07kbj+/1REDIAgDzUp+Hb0K/VYAvUREDAAISlG3OgOFlIIMCG7gyUAQDlAeFjuWaU8aDNslAwGS5BRhpmQgQA+f1rh/W9vKTJZ+UPKDrLVxtAkH3ITEMgRABocHy/zvkZJuAu0BRqEhSnAmdmnKiPZ0IX2BEAGriH/l5YQCMTEBSJC8SDbj+NtC/3Pdjp4BsBoEFflMovKctf3agfAKFVJNEHpsAQAALw3uaDL3KnirEIAJWocwsb76dTFK1LYUBACebtKXZ8MZaqQyIA5rqAt2ILTADiAxOU3/UsxRUpLts0D1dAaLYIAEVyrHA5Gqxx31eSEZvoiyUBX+UvykDpTPzwLEDmJoMiAHwaJLCMRHEUopbAumQTrlla++iesmgxAuMDXgR2aj9ApS1rfWja02rlN60hWmP6+JENxlqThJVoxAAE8wKElKo0YQEly48or+E8EzIy+Er0Qst1MgAghCiVTi8lbaoSHHUfj6dkyDLxd3m4mQ2yAHSnl5L7WbpmBY5cS0wkEGLVqMl1m3EgCwCTKb2EflUkU/+M31IEEXDfNQKkD8iZHJ+qYXoA8H5FXibQtJr8NloH+E2UaA+B+9QJmWV5qobpAQBlJWwkKH2xGGxB4FYK+1EttFrgpqxarLIKAKQ1lCLHZvKyjx2bXEG+Kja1rEscoDjjGtUkZB8MxjJ841K8lwEIOeoKPDu1DkBQBIQxXFFwa20EgF5X8AGU70ukxMUAGgXAu0LmMMTvC0RBcTHlMgONAsDYUJdKj5bZ99tJEOYAgOK+TM6kRr85AhOICdEuszIKZ4diHsXVIm0uALK+DjYzBYqCno6+oj08D7KU7lkeN4FaAoARavtnWi7klf9eUp/OAlgbkDKjdLg6AEzg9+OyQa4+3EAR2CCFvPIck5N+GZv/ye/aOYoYtBUAFBS1+ZnJDBLML3W1F6hdIfp45fVM7UYE4dVOhnqCjQ9yPSBgXYJhvR84pbzkmWIQLpHdbTodZ4kYUAPk02MPCCgEvSmfxYTMaZI/gerJLKsBUKfH2rd7GJXtWzMIt2IfIGxrMMD7qWJCNjCGAjc61JkllSrXBKAOjICAjy750sQUHn5/IXTBtQGoQeA3PsvSeM3mU2WzQt0GAKoTdEjK7+G01YEac1Chss2mF7D+eXxbAGhiCcVv6NmdtjoASB3sbhuAOkMQF4jYS7sEAZEXO7g2K8WzAEBxAQv5sz8E7SpiGmxQdclRHDtNG88UzwoAxQUE1Wt1S7HBF2KLnA12uN1QV4oYYoPYQGwgco+kS/8yJ2U0v5vtLBngBcNXPRu4BwA9bkHq4yiOsdKn0LsCgMCo3wZVyiRIblr3sz9AbcGzNCyf2TY/7bxrAAgI8jYVnX8/mADJR0BAbz7+7TVyPspnXqTYaQAEhA5Cpt4c9y7ES1W4UHfc2FUG1IGLVAYrsLYCG0yAEaTTtMXrgf8XAKJgPnz/CMAwdHvy4JEBe2LIYTWODBiGbk8e/APs+m1QYHYkgAAAAABJRU5ErkJggg==)  no-repeat;
	background-size: 2.4em 2.4em;
    background-position: -0.1em -0.1em;
}
.dx2 i{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAGVUlEQVR4Xu1aS1YbRxS95YEYBq/AeAWGFQRWAFqBYQVBM0sZREzUnhmvILACwwqMV2B5BSErCAyTgSrn9uuiqtSf+rRECKjO8cCo63ffff9SeOFDvfD7YwPAhgEvHIGNCrxwAvQwglO9jb9xCGAXwA4UbjDAJabqLhnUiT6GxvtyHtfh0LjBFn5krZdwgDwVmOjfAJwC2F7aa44BDpIPPdY3UPi55dxzAFdY4BIf1W3C3aI+TQNgoint3yupU0r3lcRuoXEMhZ+gcYVCDaN2Nx/JukeV5PdLYBXe1dYgKzTO8FEJS1Yw4gGQQ351pH6GAc4fpD3WR1D4Up3pDDM17X2+D3ofr0pg+O/Nw3oEWWO0CkbEASD6/h0KO5XU9zFTpKY/JvocwC/lHxc4WKWkQDAUpo6q0NaMMFMXfYCOA2Csv0DhqPPy5hRjPa/oe4cF9lYhJe+CZBpwUaqbjAvM1EkuCGEAhIakPnV+iEJddW4mbLmtDjjHTO3lHq51Hvf4B5Q8vZCAMMAo2fiWTic0xvorFPah8Q2FooEKDxe0nhLq3GyiaWfokbKZ0A3AB72DV/gjWvruacf6FAqfqj+d9NXVViAYQ4hnygKhGwCzON1doZZ9fpgJE011IU1psA4aDWd4lfAXPhOSwA4BIBRLob97XLEHDHLeQeMWW9jL0dMwAgBcsBOMbwgAI8HPmClGfumD8QMDmK4gSWKMQyjMscAdCvUteSPX+CYEY90A2BC1X2Dj62mdovVQmCrD8JdRX3z46wZjkXFIiAH9VMA3iiber4MpyRCN2a7j32W2xjkKNYpmhAGTrCvUQWheiAFiyam/hXobWqz1dzeSBLrZJD6ewQ7Bl/BXMsNhlP3wWfA2xKB4NwjsZVlxuRADKdqCe2jshg71AKRr3SMlWs6daKoNwQuqbkwgJKGtxiUKRZrGj+XLM6BqyiG6VvTtR5wxtjlJMBINA+AeYIEgpby7TPT3B8nnXN4s5jIh5gxuJDrA6y7VCQPgUirBvcCPBPPUx0XT0DqWiROty+kBbxAHQIZ7gbXG6arTpBKWiXeYqddBPbRZaacdiAOAu1lfHdSr8nD2+7De/qoPobGDBa5bDaSbl8T4+MgYJh4APy0eoVAsfrQPq7fdeYBbRGHO0BXGjvVdFVGG03KzfyCMjwdAbIGp+ISLHZQYQ1sJgduDkon+yyuustTVBm6kVCtXGBXEpQEgbo2lsDedlzK88OuEzapgdVVmdRVdJGJkcHYcdKeSg5xDlRWj1rJZGgA8YL4qcHY9D5CD8oBkDA+bl3QFrWLzB+kApKqCbxD5v/4uMfOyTdPyAHBVAQg3Q9y6wLqLI4ng5AEgLGAOz0iPI1yZfaIg5AMgINh6XJf1NlJxiyNkgsZJsMosdoe1yffQZStujkJdJgq69fN+AIh+s0Yvjc2YAMUYPdv66q7h+cmQ8RTx6XEAqf4A5FDbn9OuQv7l/yylb3oBrFEoDIPucO0AcAO/GRJXAa43N3g5skFabr56/cAW9susTmIB+nfTGUqqAi/j0Z8Bzfod9gx2ntvckFogdZ2tOA4Ne3l/L6qe6SCvsTOUYm18IxcPgjQ+rxrqgfXLm/M0MWiBYXS1qVpndQxwpWPdYzwIokb0KmyzCxNiOr9+3SHes6wNgGX9FcNldTuFUbHf1hk0xUydxUxfPQPafP46W2PWEEsXSmxHlKtcHwDCBNsVklyfOrqy5y2NEvbrC0EVXC8AdRD4l1PM1OcYemZ/47rKQIS6fgCa6NnjQUM0KDZCvcZMiUttGI8DgNnYDZtpHDPcVjQAtlvcWZN8XADqHoLujhZ7tSohMQIfdjB56owUHx8AYxfo593eHzPDlE5wFxVsQfQeW9jp3xiJ5l3ChyIlhsHyrE4KJf3Z4NcpVtAbTLhT1qdSY2RN0DyEpG3gI8h0d+k+5mQOUSgWbTrHf6MCy0eqs0ECmRS1kOyRj7K2U7rQTwMAA0j9NSh/ITtoyesvU/kru0qLslQuT/go+ZiyebXn0wLAuksmRGzCuO+D2fPnPwMEX5OQ4u7rtWsMcBz1kOJJA2CAsI2Q+stxV43Y/tKY5tiNp8mAZRshbTaygtI2ho1MuMUAVykSX176/wFAyJT3+H0DQA/wnsXUDQOehRh7XGLDgB7gPYup/wIQLBFujO3ShwAAAABJRU5ErkJggg==)  no-repeat;
	background-size: 2.4em 2.4em;
    background-position: -0.1em -0.1em;
}

.swiper-container{
	border-radius: 8px 8px 0 0;
}
.my-pagination{
	text-align: center;
	margin-top:3px;
}
.swiper-pagination-bullet{
	width:8px;
	height:8px;
	background:rgba(0,0,0,0.5);
	margin: 0 4px;
}
.swiper-pagination-bullet-active{
	background:#007aff;
}