
body{
	font-size: 16px;
	line-height: 1;
	font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,STheiTi,Arial,sans-serif;
}
body,ul{
	padding: 0;
	margin: 0;
}
ul,ol{
	list-style: none;
}
header,nav,main,article,section{display: block;}
a,img{
	outline: none;
	-webkit-tap-highlight-color:transparent;
}
select,input,button{
	outline: none;
	border: none; 
	-webkit-appearance:none;
	background-color: transparent;
	font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,STheiTi,Arial,sans-serif;
}
[data-dpr="ls"]{
	font-size: 12px;
}
[data-dpr="s"]{
	font-size: 14px;
}

[data-dpr="m"]{
	font-size: 16px;
}

[data-dpr="l"]{
	font-size: 18px;
}

.wrapper{
	overflow-y:auto;
	-webkit-overflow-scrolling:touch; 
}

@media(min-width: 414px){
	body{
		font-size: 18px;
	}
}


