body{
	font-size: 16px;
	background-color: #13171a;
	line-height: 1;
	font-family: -apple-system-font,Helvetica Neue,Helvetica,sans-serif;
}
body,ul{
	padding: 0;
	margin: 0;
}
ul{
	list-style: none;
}
header,nav,main{display: block;}
a,img{outline: none;}
select,input,button{
	outline: none;
	border: none; 
	-webkit-appearance:none;
	background-color: transparent;
	font-family: -apple-system-font,Helvetica Neue,Helvetica,sans-serif;
}

@media(min-width: 375px){
	body{
		font-size: 19px;
	}
}

@media(min-width: 410px){
	body{
		font-size: 20px;
	}
}

