.header{
  background-color: #39f;
  color: #fff;
  padding: 1em; 
}
.shezhi {
  margin: 1.2em 0;
  color: #fff;
}

.ren table{
  width: 100%;
  font-size: 0.8em;
}
.ren table tr.tr{
  color: #ddd;
}
.ren table tr td{
  width: 33.3333%;
}

/*关系人信息列表*/
.title{
  padding: 1em 1.2em 0.5em 1.2em;
  color: #666;
  font-size: 0.8em;
}
.conList{
  padding: 10px 0 ;
}
.conBox{
  margin-bottom: 10px;
  border-top:1px solid #dfdfdf;
  border-bottom:1px solid #dfdfdf;

}

.conItem{
  background-color: #fff;
  padding: 0.5em 1em;
}

.conItem .guanxi{
  display: flex;
  flex-direction: row;
  color: #333;

}
.xxInfo{
  font-size: 0.8em;
  color: #666;
}

.guanxi span{
  display: inline-block;
  width: 33.3333%
}

/*详细信息*/
.conInfo{
  display: none;
  color: #666;
  font-size: 0.8em;
  padding: 0 1.2em 0.7em 1.2em;     
  background-color: #fff;   
}
.conInfo li{
  padding: 0.2em 0;
}
.conInfo li span:first-child{
  margin-right: 1em;
}

/*choose*/
.chooseType{
  background-color: #666;
  color: #fff;
  padding: 0.5em 1em ;
}
.chooseType .titleType{
  padding: 1em 0 ;
}
.chooseType .titleType .infoType{
  float: right;
  font-size: 1em;
  color: #fff;
  border:1px solid #fff;
  border-radius: 50%;
  width: 1.4em;
  height: 1.4em;
}
.chooseType .type{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em 0;
}
.type label{
  display: inline-block;
  text-align: center;
  border:1px solid #fff;
  width: 20%;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.type label input{
  display: none;
}

/*单选*/
.choose{
  padding-top: 0.5em;
}
.choose label{
  
  text-align: center;
  color: #666;
  float: right;
  font-size: 0.8em;
  margin-top: 0.25em;
}
.choose label input{
  display: none;
}
.choose label span{
  margin-right:0;
}
.choose label input:checked + span{
  color: #39f;
}

/*添加受益人*/
.add button{
  border:1px solid #39f;
  color: #39f;
  font-size: 1em;
  width: 50%;
  margin: 0 auto;
  border-radius: 20px;
  display: block;
  padding: 0.3em 0;
  -webkit-transition:all 0.1s ease;
  transition: all 0.1s ease;
}
.add button:active{
  background-color: #ddd;
  box-shadow: 0px 3px 3px  0px rgba(0,0,0,.2);
}