/*myInfo*/

 article.myInfo{
	position: relative;
	width:700px;
	margin: 0 auto;
	background-color: #fff;
	box-sizing: border-box;
	padding: 20px 0;
	margin-bottom:50px;
}
.myInfo_list{
	padding: 20px;
}
.myInfo_list h5{
	margin:10px 0;
}
.myInfo_list .con{
	padding: 0 25px;
}
.sq{
	border-left: 10px solid #27abf9;
	padding: 5px 0 5px 10px;
	color: #27abf9;
	margin:5px 0;
}
.clear{
	clear: both;
}
.info_con{
	display: flex;
	display: -webkit-flex;
	flex-direction: row;

}
.info_left{
	width: 40%;
}
.info_center{
	width: 40%;
}
.info_right{
	text-align: center;
	width: 20%;
}

.info_con ul li{
	padding: 0.5em 0;
	color: #13171a;
}

.info_right img{
	width:100px; 
}

#experience .icon-star-empty{
	position: relative;
	top: -1px;
	margin-right: 5px;
}
#experience h4{
	padding: 0 1.9em;
}

#experience h4 a{
	color: #13171a;
}
.xq,
.skill{
	color: #13171a;
}

.skill img{
	width: 20px;
	position: relative;
	top: 3px;
	display: inline-block;
}
.skill li{
	padding: 5px 0;
}
.skill li span{
	display: inline-block;
	float: right;
	width: 94%;
	line-height: 24px;
	letter-spacing: 1px;
}
.xq span{
	margin-right:5px;
}

@media(max-width: 450px){
	article.myInfo{
		padding: 10px 0;
		width: 100%;
	}
	
	.sq{
		border-left: 10px solid #27abf9;
		padding: 5px 0 5px 10px;
	}
	.info_con{
		padding: 0;
		flex-direction:column;
	}
	.info_left,
	.info_center{
		width: 100%;
	}
	.info_right{
		border-radius: 80px;
		position: absolute;
		width: 80px;
		height: 80px;
		top: 15px;
		right: 15px;
		overflow: hidden;
	}
	.info_right img{
		width: 80px;
		position: relative;
		top: -5px;
	}
	
	.xq,
	.skill{
		padding: 0 ;
	}
	.skill li span{
		width: 85%;
	}
}