/*phone*/
.phoneBox{
	background-color: #111;
	padding: 90px 20px 100px 20px;
	border-radius: 42px;
	display: inline-block;
	border:8px solid #626669;
	position: relative;
	margin:0 auto;
}

.phoneBox iframe{
	width: 348px;
	height: 568px;
	background-color: #fff;
	
}

.phone_t{
	display: inline-block;
	height: 8px;
	width: 80px;
	border-radius: 20px;
	background-color: #626669;
	position: absolute;
	top: 46px;
	left: 50%;
	margin-left: -40px;
}
.phone_t:after,
.phone_t:before{
	content: ' ';
	display: inline-block;
	
	border-radius: 50%;
	background-color: #626669;
	position: absolute;
}

.phone_t:before{
	width: 15px;
	height: 15px;
	top: -30px;
	left: 50%;
	margin-left: -5px;
}
.phone_t:after{
	width: 10px;
	height: 10px;
	left: -30px;
}
.phone_b{
	background-color: #444;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	position: absolute;
	bottom: 18px;
	left: 50%;
	margin-left: -30px;
	border:4px solid #626669;
}


/*ipad*/
.ipadBox{
	background-color: #111;
	padding: 20px 100px 20px 90px;
	border-radius: 42px;
	display: inline-block;
	border:8px solid #626669;
	position: relative;
	margin:0 auto;
}

.ipadBox iframe{
	width: 819px;
	height: 614px;
	background-color: #fff;
	
}

.ipad_t{
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 20px;
	background-color: #626669;
	position: absolute;
	top: 50%;
	left: 40px;
	margin-top: -5px;
}


.ipad_b{
	background-color: #444;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	position: absolute;
	bottom: 18px;
	top: 50%;
	margin-top: -30px;
	right: 15px;
	border:4px solid #626669;
}