body{
  overflow-x:hidden; 
}
#main{
	margin-top: 10%;
	padding: 0 1em;
}
#main li{
  background-color: #fff;
  margin-bottom: 15px;
  border-radius: 10px;
  height: 8em;
  overflow: hidden;
}
#main li .rz{
  width: 25px;
  background-color: #EC971F;
  color: #fff;
  text-align: center;
  height: 8em;
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#main li .tp{
  width: 90%;
  height: 8em;
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5em;
  box-sizing: border-box;
}

.tp .sheng,
.tp .shili{
  width: 48%;
  height: 120px;
  line-height: 120px;
}

.tp .sheng img,
.tp .shili img{
  height: 85px; 
  vertical-align: middle;
}
.tp .shili{
  position: relative;
}

.shili span{
  position: absolute;
  display: block;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 1px;
  color: #fff;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

@media(min-width: 375px){
  .tp .sheng img,
  .tp .shili img{
    height: 100px; 
  }
}

@media(min-width: 410px){
  .tp .sheng img,
  .tp .shili img{
    height: 110px; 
  }
}


  	
  